{% extends "admin/index.html" %}

{% comment %}{% block extrastyle %}
    {{ block.super }}
    {# --- custom styles --- #}
{% endblock %}{% endcomment %}

{#{% block content %}#}
{#    {{ block.super }}#}
{#    <div class="module">#}
{#        <p><a href="{% url 'user_admin_custom_page' %}">Статистика по пользователям</a></p>#}
{#    </div>#}
{#{% endblock %}#}

{% block sidebar %}
    {{block.super}}
    <div>
        <h1>Статистика по пользователям</h1>
        <p><a href="{% url 'user_admin_custom_page' %}">Информация</a></p>
    </div>
{% endblock %}