{% extends 'admin/base_site.html' %}

{% block title %}Статистика по пользователям {% endblock %}


{% block content %}
    <div class="fieldsets">
        <fieldset class="module">
            <h1>Статистика по пользователям</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="actions">
                    <label>Сортировать: <select name="action" required>
                        <option value="" {% if type_sorted  == "" %}
                                selected{% endif %}>---------
                        </option>
                        <option value="date_register_increase"
                                {% if type_sorted  == "date_register_increase" %}
                                selected{% endif %}>
                            По дате регистрации (по возрастанию)
                        </option>
                        <option value="date_register_decrease"
                                {% if type_sorted  == "date_register_decrease" %}
                                selected{% endif %}
                        >По дате регистрации (по убыванию)
                        </option>
                        <option value="date_login_increase"
                                {% if type_sorted  == "date_login_increase" %}
                                selected{% endif %}>
                            По дате авторизации (по возрастанию)
                        </option>
                        <option value="date_login_decrease"
                                {% if type_sorted  == "date_login_decrease" %}
                                selected{% endif %}
                        >По дате авторизации (по убыванию)
                        </option>
                        <option value="amount_drinking_increase"
                                {% if type_sorted  == "amount_drinking_increase" %}
                                selected{% endif %}
                        >Когда пил (по возрастанию)
                        </option>
                        <option value="amount_drinking_decrease"
                                {% if type_sorted  == "amount_drinking_decrease" %}
                                selected{% endif %}
                        >Когда пил (по убыванию)
                        </option>
                        <option value="amount_not_drinking_increase"
                                {% if type_sorted  == "amount_not_drinking_increase" %}
                                selected{% endif %}
                        >Когда не пил (по возрастанию)
                        </option>
                        <option value="amount_not_drinking_decrease"
                                {% if type_sorted  == "amount_not_drinking_decrease" %}
                                selected{% endif %}
                        >Когда не пил (по убыванию)
                        </option>
                        <option value="consecutive_with_alcohol_increase"
                                {% if type_sorted  == "consecutive_with_alcohol_increase" %}
                                selected{% endif %}
                        >Рекорд подряд пил (по возрастанию)
                        </option>
                        <option value="consecutive_with_alcohol_decrease"
                                {% if type_sorted  == "consecutive_with_alcohol_decrease" %}
                                selected{% endif %}
                        >Рекорд подряд пил (по убыванию)
                        </option>
                        <option value="consecutive_without_alcohol_increase"
                                {% if type_sorted  == "consecutive_without_alcohol_increase" %}
                                selected{% endif %}
                        >Рекорд подряд не пил (по возрастанию)
                        </option>
                        <option value="consecutive_without_alcohol_decrease"
                                {% if type_sorted  == "consecutive_without_alcohol_decrease" %}
                                selected{% endif %}
                        >Рекорд подряд не пил (по убыванию)
                        </option>

                    </select></label>
                    <input type="submit" value="Выполнить">
                    <a href="/admin/users" type="submit">Сброс</a>
                </div>
            </form>
            <br>


            <div class="results">
                <table id="result_list">
                    <thead>
                    <tr>
                        <th scope="col">
                            <div class="text">username</div>
                            <div class="clear"></div>
                        </th>
                        <th scope="col">
                            <div class="text">Дата регистрации</div>
                            <div class="clear"></div>
                        </th>
                        <th scope="col">
                            <div class="text">Дата последней авторизации</div>
                            <div class="clear"></div>
                        </th>
                        <th scope="col">
                            <div class="text">Всего пил(дней)</div>
                            <div class="clear"></div>
                        </th>
                        <th scope="col">
                            <div class="text">Всего не пил(дней)</div>
                            <div class="clear"></div>
                        </th>
                        <th scope="col">
                            <div class="text">Рекорд подряд пил(дней)</div>
                            <div class="clear"></div>
                        </th>
                        <th scope="col">
                            <div class="text">Рекорд подряд не пил(дней)</div>
                            <div class="clear"></div>
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for item in data %}
                        <tr>
                            <th class="field-date_drinking nowrap">
                                <a href="/admin/users/info/{{ item.username }}">{{ item.username }}</a>
                            </th>
                            <td>{{ item.date_register }}</td>
                            <td>{{ item.date_login }}</td>
                            <td>{{ item.amount_drinking }}</td>
                            <td>{{ item.amount_not_drinking }}</td>
                            <td>{{ item.consecutive_with_alcohol }}</td>
                            <td>{{ item.consecutive_without_alcohol }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
            <br>
            <div class="pagination"> <span class="step-links">
{% if data.has_previous %}
    <a href="?page={{ data.previous_page_number }}{% if type_sorted %}&type_sorted={{ type_sorted }}{% endif %}
{#    &type_sorted={{ type_sorted }}"#}
    ">Пред. </a>
{% endif %}
                <span class="current">
Стр. {{ data.number }} из {{ data.paginator.num_pages }}. </span>
                {% if data.has_next %}
                    <a href="?page={{ data.next_page_number }}{% if type_sorted %}&type_sorted={{ type_sorted }}{% endif %}">След. </a>
                {% endif %} </span>
            </div>

        </fieldset>
    </div>
{% endblock %}


<div class="results">
    <table id="result_list">
        <thead>
        <tr>
            {% for header in data %}
                <th scope="col">
                    <div class="text">{% if header.username %}
                        <a href="{{ header.username }}">{{ header.username }}</a>{% else %}
                        <span>{{ header.username }}</span>{% endif %}</div>
                    <div class="clear"></div>
                </th>{% endfor %}
        </tr>
        </thead>

    </table>
</div>