{% extends 'admin/base_site.html' %}
{% load static %}

{% block title %}Информация по пользователю {{ data.username }}{% endblock %}


{% block content %}

    <div class="fieldsets">
        <fieldset class="module aligned ">
            <h1>Информация по {{ data.username }}</h1>

            <h2>Общая информация</h2>
            <div class="form-row field-username">
                <br>
                <p><label for="id_username"><b>Username:</b> {{ data.username }}</label></p>
                <p><label for="id_username"><b>Имя:</b> {{ data.first_name }}</label></p>
                <p><label for="id_username"><b>Фамилия:</b> {{ data.last_name }}</label></p>
                <p><label for="id_username"><b>ID устройства:</b> {{ data.device_id }}</label></p>

                <br>
                <h2>Информация по датам</h2>
                <div class="form-row field-username">
                    <br>
                    <p><label for="id_username"><b>Дата регистрация:</b> {{ data.date_register }}</label></p>
                    <p><label for="id_username"><b>Дата последней авторизации:</b> {{ data.date_login }}</label></p>
                    <p><label for="id_username"><b>Дата обнуления статистики:</b> {{ data.date_refresh }}</label></p>

                    <br>
                    <h2>Статистика по выпиванию (текущая)</h2>
                    <div class="form-row field-username">
                        <br>
                        <p><label for="id_username"><b>Всего пил(дней):</b> {{ data.amount_drinking }}</label></p>
                        <p><label for="id_username"><b>Всего не пил(дней):</b> {{ data.amount_not_drinking }}</label></p>
                        <p><label for="id_username"><b>Рекорд подряд пил(дней):</b> {{ data.consecutive_with_alcohol }}
                        </label></p>
                        <p><label for="id_username"><b>Рекорд подряд не
                            пил(дней):</b> {{ data.consecutive_without_alcohol }}</label></p>

                    <br>
                    <h2>Статистика по выпиванию (до обнуления)</h2>
                    <div class="form-row field-username">
                        <br>
                        <p><label for="id_username"><b>Всего пил(дней):</b> {{ data.amount_drinking_history }}</label></p>
                        <p><label for="id_username"><b>Всего не пил(дней):</b> {{ data.amount_not_drinking_history }}</label></p>
                        <p><label for="id_username"><b>Рекорд подряд пил(дней):</b> {{ data.consecutive_with_alcohol_history }}
                        </label></p>
                        <p><label for="id_username"><b>Рекорд подряд не
                            пил(дней):</b> {{ data.consecutive_without_alcohol_history }}</label></p>

                        <br>
                        <h2>Календарь</h2>
                        {% include 'calendar/index.html' %}



                    </div>
        </fieldset>
    </div>
{% endblock %}
